#home-hero-root {
    width: 100%;
    height: 75vh;
}

#home-hero-image-container {
    z-index: 0;
    position: absolute;
    width: max-content;
}

.height-inherit {
    height: inherit;
}

#content-top {
    width: inherit;
    height: 100%;
}

#content-order {
    justify-content: space-evenly;
    margin-top: 2em;
    margin-left: 2em;
}

#reviews-link {
    padding: 1em;
    width: 50%;
}