#view-review-top {
    height: 100%;
}

#view-review-image-container {
    background-color: rgba(145, 5, 5, 0.12)
}

#view-review-image {
    display: flex;
    margin: auto;
    max-width: fit-content;
    height: fit-content;
    width: 100%;
    padding: 1em;
}

/* .view-review-top {
    display: flex;
    justify-content: space-between;
    min-height: 50%;
    height: fit-content;
    max-height: 80%;
}

.view-review-image-container {
    margin: auto;
    width: 50%;
    position: relative;
}

.view-review-image {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
}

.view-review-metadata {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
} */

