.review-top {
    display: flex;
    flex-direction: column;
    background-color: brown;
}

.review-outlet {
    height: 80vh;
}

.review-image img {
    display: flex;
    margin: auto;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    max-width: fit-content;
    height: fit-content;
}