.review-top {
    display: flex;
    flex-direction: column;
}

.review-title {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.review-info-container {
    display: flex;
    flex-direction: row;
}

.review-image {
    min-width: 400px;
    max-width: 25%;
    min-height: 600px;
    max-height: 50%;
    background-color: brown;
    margin: 1em;
    margin-right: 3em;
}

.review-image img {
    display: flex;
    margin: auto;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    max-width: fit-content;
    height: fit-content;
}

.review-text-container {
    display: flex;
    flex-direction: column;
}

.review-text-container div {
    margin-top: 1em;
    margin-bottom: 1em;
}

.review-tag-list {
    display: flex;
    flex-direction: row;
}

.review-tag {
    margin-right: 1em;
}