#review-top {
    height: inherit;
    /* background-color: #e07d9b; */
}

#review-paper {
    width: inherit;
    position: absolute;
    z-index: 1;
}

#bg-texture {
    position: absolute;
    z-index: 0;
    height: 95vh;
    width: -moz-available;
    width: -webkit-fill-available;
    opacity: 0.7;
}